.container {
    margin: auto;
    width: 60%;
    padding: 10px;
    border: 2px solid #ec8989;
    margin-top: 10px;
    background: url('../../images/abstract-atmospheric-atmospheric-evening-1090972.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    margin-bottom: 40px;
}

form {
    margin-top: 20px;
}

.row {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
}

input {
    flex-grow: 3;
    height: 30px;
    border-radius: 2px;
    font-size: 16px;
    padding: 4px;
}

button {
    flex-grow: 1;
    border-radius: 2px;
    border: 1px solid #82b6fa;
    background: #82b6fa;
    margin-left: 4px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Abril Fatface', cursive;
}

button:hover {
    cursor: pointer;
    background: #1a66ca;
    color: #fff;
}

.result-container {
    margin: auto;
    width: 80%;
    border: #fff solid 1px;
    margin-top: 20px;
    border-radius: 4px;
    color: #fff;
    font-family: 'Charmonman', cursive;
    background-color: rgba(37, 37, 37, 0.8)
}

.result-container h3 {
    color: #ecd3d3;
}

.result-container ol {
    text-align: left;
    margin: auto;
    width: 70%;
    margin-bottom: 40px;
}

.result-container ol li {
    border-bottom: 1px greenyellow solid;
    margin-bottom: 4px;
}

.close:hover {
    cursor: pointer;
}