.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.navbar {
  height: 190px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  position: fixed;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

hr {
  margin-top: 20px;
}

/*Next Button*/

.nxt-btn {
  text-decoration: none;
  border: 1px solid #12089b;
  border-radius: 4px;
  padding: 10px;
  background-color: #12089b;
  color: #fff;
  font-size: 20px;
}

.nxt-btn:hover {
  background-color: blue;
  padding: 12px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}